/* ==========================================
   1. Global variables & Reset
   ========================================== */
:root {
    /* primary Color sage green*/
    --primary: #97a97c;
    --primary-dark: #85966a;
    --bg-dark: #1a1a1a;
    /* Dark Charcoal */
    --bg-light: #f9f9f9;
    /* Off-White */
    --white: #ffffff;

    /* Typography */
    --text-main: #1a1a1a;
    --text-muted: #666666;

    /* Layout */
    --container-width: 1200px;
    --section-padding: 100px 8%;
    --transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    color: var(--text-main);
    background-color: var(--white);
    line-height: 1.6;
    overflow-x: hidden;
}

/* ==========================================
   2. SHARED COMPONENTS (Nav & Footer)
   ========================================== */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    background: var(--white);
    height: 80px;
    position: sticky;
    /* Keep nav visible while scrolling */
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary);
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 45px;
    margin-left: auto;
}
/* Footer & Social Icons */
footer {
    padding: 60px 8%;
    background-color: var(--white);
    border-top: 1px solid #eeeeee;
    text-align: center;
}

.footer-content p {
    font-size: 0.85rem;
    color: var(--text-muted);
    letter-spacing: 0.5px;
    margin-top: 30px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.social-links a {
    color: var(--dark-charcoal);
    font-size: 2rem;
    transition: all 0.3s ease;
    text-decoration: none;
}

.social-links a:hover {
    color: var(--sage-green);
    transform: translateY(-3px);
}