# this is the name that appears in the "Actions" tab on GitHub
name: SiteGround Deployment

# when GitHub run the script
on:
  push:
    branches:
      - main  # Every time push to 'main', it goes live

jobs:
  web-deploy:
    name: Syncing Files
    runs-on: ubuntu-latest # starts a temporary virtual computer (Linux)
    
    steps:
    # STEP 1: Copy the code from the repo onto the virtual computer
    - name: Get latest code
      uses: actions/checkout@v4

    # STEP 2: Use the FTP tool to upload those files to SiteGround
    - name: FTP Upload
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: ${{ secrets.FTP_SERVER }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        # 'server-dir' is where the files go on SiteGround. 
        # For the main website, it is usually /public_html/
        server-dir: ./
        # exclude files the server doesn't need to stay light and fast
        exclude: |
          **/.git*
          **/.github*
          README.md